[Unit]
Description=SYSTEM_NAME Platform
After=network.target
Requires=network.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/SYSTEM_NAME/bin/run.sh -AAPP_NAME -SSYSTEM_NAME -VVERSION -WWEB_PORT -Z0
User=USER
Group=GROUP

[Install]
WantedBy=multi-user.target
Alias=SYSTEM_NAME.service